.action-button {
  width: 160px;
  height: 48px;
  color: $color-white;
  background-color: $text-color-blue-second;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.action-button-white {
  width: 160px;
  height: 48px;
  color: $text-color-blue-second;
  background-color: $color-white;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}