.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @include for-large-up {
    padding: 43px 226px 0 130px;
  }

  &__navigation {
    display: flex;
    margin-top: 0 auto;

    @include for-large-up {
      display: flex;
      margin-top: 0 auto;
      width: 1140px;
      height: 338px;
    }

    @include for-large-down {
      flex-direction: column;
      align-items: center;
    }
  }

  &__description {
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin: 0;
    margin-top: 26px;
    color: rgba(43, 41, 45, 0.6);

    @include for-large-down {
      display: none;
    }
  }

  &__line {
    border-top: 1px solid #2b292d;
    width: 100%;
    opacity: 0.1;
    margin: 0;

    &-mobile {
      margin-top: 40px;
      width: 100%;
      border-bottom: 1px solid $border-light-grey;
    }

    @include for-large-down {
      display: none;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-top: 0 auto;
    width: 100%;

    @include for-large-up {
      flex-direction: row;
      align-items: center;
      height: 50px;
      margin-top: 0 auto;
      width: 1140px;
    }
  }

  & .logo {
    @include for-large-down {
      display: none;
    }
  }
}

.about-company {
  margin-top: 40px;
  @include for-large-up {
    margin: 0;
  }
}

.downloads {
  display: flex;
  margin-top: 31px;

  &__item {
    margin-right: 10px;
  }

  @include for-large-up {
    margin-top: 25px;
  }
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 15px;

  &__column {
    margin-right: 29px;
  }

  @include for-large-up {
    flex-direction: row;
    margin-left: auto;
    margin-top: 18px;
  }
}

.nav-links {
  width: 265px;

  &__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: $text-dark;
    margin: 0;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin-top: 18px;
    font-size: 18px;
    line-height: 30px;
    color: $text-color-light-grey;
  }
}

.terms {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
  margin-left: 15px;

  &__items {
    text-decoration: none;
    color: $text-dark;
    opacity: 0.6;
    margin-right: 22px;
  }

  @include for-large-up {
    margin: 0;
    line-height: 50px;
  }
}

.social__links {
  margin-top: 31px;
  margin-bottom: 23px;
  margin-left: 0;

  &__item {
    margin-left: 20px;
  }

  @include for-large-up {
    margin-top: 15px;
    margin-left: auto;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 60px;
    height: 60px;
  }

  &__name {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  @include for-large-up {
    display: none;
  }
}