//.order {
//  padding: 50px 15px;
//  background-color: $color-light;
//
//  @include for-large-up {
//    display: flex;
//    justify-content: center;
//    align-items: flex-start;
//    padding: 73px 0 72px;
//  }
//
//  &__details {
//    max-width: 555px;
//    margin: auto;
//  }
//
//  &__ilustration {
//    min-width: 200px;
//    margin: auto;
//    display: block;
//
//    @include for-large-up {
//      max-width: 269px;
//      margin-right: 121px;
//    }
//  }
//
//  &__title {
//    margin-top: 40px;
//    font-weight: bold;
//    font-size: 40px;
//    line-height: 40px;
//    text-align: center;
//    letter-spacing: -0.25px;
//  }
//
//  &__text {
//    margin: 0;
//    margin-top: 18px;
//    font-size: 22px;
//    line-height: 32px;
//  }
//
//  &__form {
//    display: flex;
//    margin-top: 26px;
//  }
//
//  &__email {
//    margin-top: 40px;
//    height: 48px;
//    width: 100%;
//    background: $color-white;
//    border: 1px solid $border-color;
//    border-radius: 2px;
//    text-align: center;
//
//    &::placeholder {
//      color: $text-dark;
//    }
//
//    @include for-large-up {
//      margin-top: 0;
//    }
//  }
//
//  &__button {
//    margin-top: 12px;
//    flex-shrink: 0;
//
//    @include for-large-down {
//      width: 100%;
//    }
//
//    @include for-large-up {
//      margin-top: 0;
//      margin-left: 10px;
//    }
//  }
//
//  &__terms {
//    margin-top: 10px;
//    font-size: 14px;
//    line-height: 22px;
//    color: $text-color-light-grey;
//
//    &-link {
//      color: $text-color-blue;
//    }
//  }
//}



.order {
  padding: 50px 15px;
  background-color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-large-up {
    padding: 73px 0px 72px 0px;
    align-items: flex-start;
    flex-direction: row;
  }

  &__details {
    max-width: 555px;
  }

  &__illustration {
    max-width: 200px;

    @include for-large-up {
      max-width: 269px;
      margin-right: 121px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143;
    margin-top: 40px;
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    margin-top: 18px;
  }

  &__form {
    @include for-large-up {
      display: flex;
      flex-grow: 1;
      margin-top: 26px;
    }
  }

  &__email {
    margin-top: 40px;
    background-color: #ffffff;
    border: 1px solid $border-color;
    border-radius: 2px;
    height: 48px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 13px;

    @include for-large-up {
      margin-top: 0px;
    }

    &::placeholder {
      color: $color-dark;
    }
  }
  &__button {
    margin-top: 12px;

    @include for-large-down {
      width: 100%;
    }

    @include for-large-up {
      margin-top: 0px;
      margin-left: 10px;
      flex-shrink: 0;
    }
  }

  &__terms {
    font-size: 14px;
    line-height: 22px;
    color: $text-color-light-grey;
  }

  &__terms-link {
    color: $text-color-blue;
  }
}