$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-light-grey-sec: #2b292d26;
$text-dark: #2b292d;
$text-color-blue: #3142c6;
$text-color-blue-second: #3040c4;
$text-color-orange: #f1592b;

$color-light: #f4f5f7;
$color-aqua-light: #00a1c612;
$color-white: #ffffff;
$color-bisque: #fcf0e3;
$color-bisque-sec: #f3c6bd;

$border-color: #2b292d33;
$border-color-blue: #0185d0;
$border-light-grey: #e3e3e3;



//
//$text-color-green: #009b4d;
//$text-color-light-grey: #2b292d99;
//$text-color-light-grey-sec: #2b292d26;
//$text-dark: #2b292d;
//$text-color-blue: #3142c6;
//$text-color-blue-second: #3040c4;
//$text-color-orange: #f1592b;
//
//$color-light: #f4f5f7;
//$color-aqua-light: #00a1c612;
//$color-white: #ffffff;
//$color-bisque: #fcf0e3;
//$color-bisque-sec: #f3c6bd;
//
//$border-color: #2b292d33;
//$border-color-blue: #0185d0;
//$border-light-grey: #e3e3e3;